	<ion-view view-title=" Sobre o Projeto" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div class="padding about_us-box">
        <h3>Contempor&acirc;nea 2018</h3>
      <p>Acesse nossas redes sociais!</p>
    </div>
    <br/>

    <div class="disable-user-behavior about_us-box">
     
      <a class="item item-icon-left" ng-click="openURL('http://facebook.com/contemporanea.arq')" >
        <i class="balanced-900 icon ion-social-facebook"></i>
        Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('http://instagram.com/contemporaneaarq')" >
        <i class="balanced-900 icon ion-social-instagram"></i>
        Instagram
      </a>

      
       <a class="item item-icon-left" ng-click="openURL('mail://zi@contemporanea.arq.br')" >
        <i class="icon ion-android-mail balanced-900"></i>
        Fale conosco!
        <p>
            zi@contemporanea.arq.br
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
